<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- Do not put in unit test configuration settings here. They should go 
		into settings-unitTests.xml. -->

	<!-- This file contains default values. To override these values, you can 
		create an override file. By default, the application will look for override 
		values in a file in the user's home directory, called testadmin-settings.xml. 
		You can specify a different location for the settings override file by setting 
		a system property, environment variable, or web application context parameter 
		called testadmin-override-properties -->

	<!-- Any individual property in this file can be overridden by defining 
		a system property, environment variable or web application context parameter 
		with the same name -->

	<entry key="IsCheckinSite">${proctor.IsCheckinSite:false}</entry>
	<entry key="DONOT_Distributed">${proctor.DONOT_Distributed:true}</entry>
	<entry key="ClientQueryString">${proctor.ClientQueryString:false}</entry>
	<entry key="Appkey">${proctor.Appkey:Proctor}</entry>
	<entry key="RecordSystemClient">${proctor.RecordSystemClient:true}</entry>
	<entry key="AppName">${proctor.AppName:Proctor}</entry>
	<entry key="SessionType">${proctor.SessionType:0}</entry>
	<entry key="DBJndiName">java:/comp/env/jdbc/session</entry>

	<!-- Database connection parameters should not be defined in this file. 
		Those are defined at the container level, not at the application level -->
	<entry key="TestRegistrationApplicationUrl">${proctor.TestRegistrationApplicationUrl}</entry>
    <entry key="TDSArchiveDBName">${proctor.TDSArchiveDBName:archive}</entry>
    <entry key="TDSSessionDBName">${proctor.TDSSessionDBName:session}</entry>
    <entry key="TDSConfigsDBName">${proctor.TDSConfigsDBName:configs}</entry>
    <entry key="ItembankDBName">${proctor.ItembankDBName:itembank}</entry>
    <entry key="Debug.AllowFTP">${proctor.Debug.AllowFTP:true}</entry>
    
    <entry key="StateCode">${proctor.StateCode}</entry>
    <entry key="ClientName">${proctor.ClientName}</entry>

	<!-- not used in code anywhere -->
	<!--
	<entry key="EncryptedPassword">${proctor.EncryptedPassword}</entry>
	<entry key="AdminPassword">${proctor.AdminPassword}</entry>
	<entry key="SqlCommandTimeout">${proctor.SqlCommandTimeout:60}</entry>
	-->
</properties>