@charset "UTF-8";
/* CSS Document */
#navigation {
	position:absolute;
	left:0;
	top:2.7em;
	bottom:0px;
	width:200px;
	font-size:1em;
	z-index:4;
	overflow:auto;
}
*html #navigation {
	height:100%;
}
#navigation {
	left:1px;
	background-color: #FFFFFF;
}
#helpContent {
	margin-left:200px;
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.inner {
	padding:10px;
}
hr, .clear {
	display: block;
	clear: both;
}
#navcontainer {
	font-family: Arial, Helvetica, sans-serif;
}
/*#navcontainer ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}*/
#navcontainer li {
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
#navcontainer a {
	display: block;
	color: #000000;
	background-color: #B8DA8D;
	text-decoration: none;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	margin: 0px;
}
#navcontainer a:hover {
	color: #fff;
	background-color: #006699;
	text-decoration: none;
}
#navcontainer ul ul a {
	background-color: #ceeaab;
	padding-left: 10px;
	margin: 0px;
}
#navcontainer ul ul ul a {
	background-color: #dff5c2;
	padding-left: 15px;
	margin: 0px;
}
#navcontainer ul ul ul ul a {
	background-color: #f0fcdf;
	padding-left: 19px;
	margin: 0px;
}
#navigation h3 {
	padding-left: 5px;
	margin: 0px;
	padding-top: 10px;
	background-color: #03a037;
	color: #FFFFFF;
}
.printMe {
	background-color: #b8da8d;
	background-image: url(gradient.gif);
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
	padding-left: 15px;
	background-position: bottom;
}
.printMe a, .printMe input {
	background-color: #FFFFFF;
	display: block;
	color: #000000;
	margin-top: 5px;
	width: 140px;
	border: 1px solid #000000;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
*:first-child+html #navcontainer ul li {
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
*html #navcontainer ul li {
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.noSpace {
	margin-bottom: -20px !important;
	font-style: italic;
}
.horizontal {
	display: block;
	height: 3px;
	margin-bottom: 10em;
	margin-top: 10em;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ED962E;
	border-bottom-color: #ED962E;
	font-size: 1px;
	line-height: 1px;
	clear: both;
}
.horizontal3 {
	display: block;
	height: 2px;
	margin-bottom: 10em;
	margin-top: 10em;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #03A037;
	border-bottom-color: #03A037;
	font-size: 1px;
	line-height: 1px;
	clear: both;
}
.horizontal4 {
	display: block;
	height: 1px;
	margin-bottom: 10em;
	margin-top: 10em;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CEEAAB;
	border-bottom-color: #CEEAAB;
	font-size: 1px;
	line-height: 1px;
	clear: both;
}
.magnify, body#singleKey .magnify {
	font-size: 1.5em;
}
.help a {
	display: block;
	background-color: #CFEBAD;
	height: 29px;
	margin: 0px;
	background-image: url(zoom.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	line-height: 33px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 47px;
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.help a:hover {
	background-position: 0px -29px;
	text-decoration:underline;
}
.magnify .inner, .magnify .help, .magnify #navigation h3, .magnify #navcontainer {
	position: relative;
}
body#singleKey {
	font-size: 1.5em;
}
body#singleKey #helpContent {
	left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
}
body#singleKey .shortcuts {
	text-align: center;
	padding: 1em;
}
body#singleKey .shortcuts table {
	margin-right: auto;
	margin-left: auto;
}
body#singleKey .rightColumn {
	text-align: left;
}
body#singleKey caption {
	display:none;
}
.shortcuts caption {
	color: #FFFFFF;
	background-color: #04A033;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: left;
	padding-top: .2em;
	padding-right: 1em;
	padding-bottom: .2em;
	padding-left: 1em;
}
.shortcuts th {
	padding: 0.4em;
	background-color: #D2E7B7;
	border: 1px solid #03A037;
}
.shortcuts td {
	padding: 3px;
	border: 1px solid #D2E7B7;
}

.leftColumn {
	line-height: 29px;
	text-align: center;
}
.centerColumn {
	line-height: 29px;
	text-align: center;
}
.shortcuts img {
	float: none;
	vertical-align:middle;
	margin-right: -1px;
}
.tools caption {
	color: #FFFFFF;
	background-color: #04A033;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: left;
	padding-top: .2em;
	padding-right: 1em;
	padding-bottom: .2em;
	padding-left: 1em;
}
.tools th {
	padding: 0.4em;
	background-color: #D2E7B7;
	border: 1px solid #03A037;
}
.tools td {
	padding: 3px;
	border: 1px solid #D2E7B7;
}
.toolleft {
	text-align: center;
	vertical-align:top;
}
.toolRight u {
	display: block;
}
.tools img {
	float: none;
}
.strike {
	text-align: center;
	vertical-align:middle;
	font-weight: bold;
}
.inner ul, .inner ol {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: .5em;
	margin-right: 0px;
	margin-bottom: .5em;
	margin-left: 0px;
}
.inner p {
	padding: 0px;
	margin-top: .5em;
	margin-right: 0px;
	margin-bottom: .5em;
	margin-left: 0px;
}
.inner p img, .inner li img {
	vertical-align:middle;
}
.inner h5 {
	padding: 0px;
	margin-top: 0.8em;
	margin-right: 0px;
	margin-bottom: 0.2em;
	margin-left: 0px;
}
.tip {
	border: 1px solid #03A037;
	margin-bottom: .5em;
}
.tip h4 {
	margin: 0px;
	background-image: url(okSmall.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #DFF5C2;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #03A037;
	font-size: 1.2em;
}
.tip p {
	padding: 0.4em !important;
}
.warning {
	border: 1px solid #990000;
	margin-bottom: .5em;
}
.warning h4 {
	margin: 0px;
	background-image: url(attentionSmall.gif);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFFFCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
	font-size: 1.2em;
}
.warning p {
	padding-top: 0.2em;
	padding-right: 0.4em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
}
.screen {
	background-color: #DBDBDB;
	border: 1px solid #CCCCCC;
	text-align: center;
	padding-bottom: 3px;
	margin-bottom: .5em;
}
.screen h5 {
	margin: 0px;
}
.floatLeft {
	float: left;
	vertical-align:inherit;
}
.floatRight {
	float: right;
	vertical-align:inherit;
}
.new {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #060;
	letter-spacing: .5em;
}
.tools {
	margin-bottom: 1em;
}
.tools table td {
	border-color: #e1e1e1;
	border-top-color: #fff;
	border-right-color: #fff;
	border-left-color: #fff;
}
.tools .stripe td {
	background-color: #effeed;
}
#helpContent {
	font-size: 1.2em;
}
#helpContent h2 {
	font-size: 2em;
	margin-bottom: .5em;
}
#helpContent h3 {
	font-size: 1.7em;
	margin-bottom: .5em;
}
h4 {
	font-size: 1.4em;
	margin-bottom: .5em;
	border-bottom: solid 1px #ccc;
	margin-top: .8em;
}

#helpContent p {
	margin-bottom: .5em;
}
#helpContent ul, #helpContent ol {
	list-style-type: inherit;
	padding-left: 2em;
	margin-bottom: .5em;
}
.inner p img, .inner li img, .toolRight img {
	vertical-align:middle;
}
#helpContent li {
	padding-bottom: .4em;
}
#helpContent ol {
	list-style-type: decimal;
}
