@charset "UTF-8";
/*Lake Theme */

/* @group Header Stuff */
.header {
	border-bottom: none;
	background: #004a80 url(../images/login/lake.jpg) no-repeat left top;
}
.logos {
	background-image: none;
	background-color: transparent;
	border-top: none;
}
.brand1 {
	background: url(../images/login/logo_default.png) no-repeat center center;
	width: 147px;
}
.ie6 .topBar {
	background: #004a80 url(../images/login/lake.jpg) no-repeat left top;
}
.brand1 h2 {
	text-indent: -9999px;
}
.topBar {
	background-color: transparent;
	color: #fff;
}
.header .titleThing {
	color: #fff;
	background-color: #03527d;
	background-image: url(../images/breadcrumb.gif);
}
.brand2 {
	background-color: transparent;
	background-image: none;
	border: none !important;
	height: 31px;
}
.brand2 h3 {
	border-left: none;
	float: right;
	color: #fff;
	margin-left: 0px;
	background-image: none;
	background-color: #27659b;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 31px;
	line-height: 31px;
	margin-top: 0px;
}
/* @end */

/* @group Login */
.green {
	background-color: #fff;
	background-image: none;
}
.green .shadowBox .bottomShadow {
	background-image: url(../images/login/shadowboxes/greenBottomCenter.gif);
}
.green .shadowBox .bottomShadow em {
	background-image: url(../images/login/shadowboxes/greenBottomLeft.gif);
}
.green .shadowBox .bottomShadow strong {
	background-image: url(../images/login/shadowboxes/greenBottomRight.gif);
}
.green .shadowBox .topShadow {
    background-image: url("../images/login/shadowboxes/greenTopCenter.gif");
}
.green .shadowBox .box2 {
    background-image: url("../images/login/shadowboxes/greenRight.gif");
}
.green .shadowBox {
    background-image: url("../images/login/shadowboxes/greenLeft.gif");
}
.green .shadowBox .topShadow em {
    background-image: url("../images/login/shadowboxes/greenTopLeft.gif");
}
.green .shadowBox .topShadow strong {
    background-image: url("../images/login/shadowboxes/greenTopRight.gif");
}
.shadowBox .content h2 {
	border-bottom-color: #94b6d9;
}
.login .greenBtn {
	background-image: url(../images/login/loginBtn.gif);
	color: #175283 !important;
}
.login .greenBtn:hover {
	color: #fff !important;
}
.forgotLink a {
	color: #0d4373;
}
.training {
	border: 5px solid #FFA20C;
}
/* @end */

/* @group general elements */
.footer span, .footer a {
	color: #0d4373;
}
/* @end */
.smallButtons a {
	background-image:url("../images/login/btnBlueTop.gif");
}
.smallButtons a span {
	background-image:url("../images/login/btnBlueBottom.gif");
}
.smallButtons a:hover {
	background-color: #ffa20c;
}
.instructions a.greenBtn:hover {
	background-color: #175283 !important;
	background-position: left -60px;
}
