.wrapper {
	background: #fff url(../images/gradient_lightblue.png) repeat-x fixed left bottom;
}

/* @group Content */
.activeTable {
	border-color:#c9e1f8;
}
.activeTable th a {
	color:#045785;
}
.instructions {
	background-color:#fff;
	border-color:#c9e1f8;
}
.instructions h2 a, .shelf .button_collapse {
	background-image: url(../images/showHide.png);
}
.ie6 .instructions h2 a, .ie6 .shelf .button_collapse {
	background-image: url(../images/showHide.gif);
}
.footer {
	color:#000000;
}
.gecko.mac .bottomHalf {
	border-color: #5f7383;
}
/* @end */

/* @group shelf */

.shelf {
	background-color: #5f7383;
	background-image: none;
	border-bottom:2px solid #2c333d;
}
.settings_content, .nocollapse .settings_content, .approvals_needed .approvals_content {
    border-color: #bbd9f6;
}
.widgetTitle {
    background-color: #bfd6ec;
    border-color: #bfd6ec;
    color: #000;
}
.settings_container .pointer, .approvals_container .pointer {
	background-image: url(../images/stripes.gif);
}
.approvals_needed .approvals_container .pointer {
	background: url(../images/stripes.gif) repeat-x 0px -7px !important;
}
.nocollapse .settings_container .pointer {
	background: url(../images/stripes.gif) repeat-x 0px -7px !important;
}
.nocollapse .settings_container .pointer span, .approvals_needed .approvals_container .pointer span {
	background: url(../images/pointer_open.gif) no-repeat center top !important;
}
.settings_container .pointer span, .approvals_container .pointer span {
	background-image: url(../images/pointer_collapsed.gif);
}
.settings_closed, .approvals_closed {
	border-left: solid 1px #e9e9e9;
	border-right: solid 1px #e9e9e9;
	border-bottom: solid 1px #e9e9e9;
	background-color: #cbd6de;
	color: #84897f;
}
.nocollapse .short_tip, .settings_show .short_tip, .not_started .short_tip {
	border-top:1px solid #8abfdb;
}

/* @end */
.level1 {
	border: none;
	background: #095084 url(../images/lake.jpg) no-repeat left top;
	height: 20px;
	overflow: hidden;
}
.level1 span {
	color: #d9ebfe;
}
.level1 a span {
	color: #000;
}
.level1 a:hover {
	background-color: #fff;
}
.titleThing {
	background-image: none;
    /*background: url(../images/breadcrumb.png);*/
}
.level2 {
	border: none;
	background: #095084 url(../images/lake.jpg) no-repeat 0 -20px;
}
.level2 .brand1 {
    background-image: none;
}
.level2 .brand2 {
	background-image: none;
}
.level2 .session_top {
    background: url("../images/session_top.gif") repeat-x scroll left top #517593;
    border-left: 1px solid #4c91c3;
    border-right: 1px solid #4c91c3;
    border-top: 1px solid #4c91c3;
    color: #FFFFFF;
    font-size: 1.6em;
    height: 1.6em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 11.65em;
}

.level3 {
	background-image:none;
	background-color: #15598b;
	border-top: 1px solid #4c91c3;
	border-bottom: 1px solid #4c91c3;
}
.level3 a, span.session_nope, span.settings_nope {
	background-color:#023d69;
	border:1px solid #4c91c3;
	color: #fff;
}
span.session_nope {
	background:#78bbde url(../images/disabeled_gradient.gif) repeat-x scroll left bottom;
	color: #4c98c1;
	border-color: #3a90bf;
}
a.button_approvals, a.button_approvals:hover {
	background-image: none;
	background-color:#023d69;
	border:1px solid #4c91c3;
	color: #fff;
}
.not_started .button_approvals:hover {
	background-color: #78bbde !important;
	color: #4c98c1 !important;
}
.session_bottom {
    background: #3b73a9 url(../images/darkblue_gradient.gif) repeat-x left bottom;
    border-color: #4c91c3;
}
a.session_stop  {
	background: #045785 url(../images/darkblue_gradient.gif) repeat-x left bottom;
	border-color: #2671A6;
	border-bottom: none;
}
.approvals_needed a.button_approvals {
	background-color: #103b5c;
	background-image: none;
	font-weight: bold;
	border-color: #fff;
}
.approvals_needed a.button_approvals:hover {
	background-color: #f26522;
	color: #fff;
}
.level3 a.session_start {
	background-color: #55ba5b;
	border-top: none;
}
.level3 a.session_stop {
	background-color: #4d1c1c;
	border-top: none;
	background-image: none;
}
.level3 a.session_start:hover, .level3 a.session_stop:hover {
	background-color: #f26522;
}

/*Group Test Type Display*/
.testIndicator{
	 color: #4a5a67;
	 display: none;
}