@charset "UTF-8";
/* Jumpstart uses default theme */
/*
.oaks {
	background-image: url(../images/bigOak.gif);
}
.oaks h2 {
	text-indent: 0;
	padding-left: 355px;
}
.roots {
	background-image: url(../images/bigRoots.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
*/